@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
@import "tailwindcss";

:root {
  /* Theme 1 */
  /* BACKGROUNDS */
  --color-main-bg: hsl(222, 26%, 31%);
  --color-keypad-bg: hsl(223, 31%, 20%);
  --color-screen-bg: hsl(224, 36%, 15%);

  /* KEYS - RESET / DEL */
  --color-key-del-bg: hsl(225, 21%, 49%);
  --color-key-del-shadow: hsl(224, 28%, 35%);

  /* KEYS - EQUALS / TOGGLE */
  --color-key-eq-bg: hsl(6, 63%, 50%);
  --color-key-eq-shadow: hsl(6, 70%, 34%);

  /* KEYS - NUMERICOS */
  --color-key-num-bg: hsl(0, 0%, 90%);
  --color-key-num-shadow: hsl(28, 16%, 65%);

  /* TEXT */
  --color-text-dark: hsl(221, 14%, 31%);
  --color-text-display: hsl(0, 0%, 100%);
  --color-text-light: hsl(0, 0%, 100%);
  --color-text-eq: var(--color-text-light);

  /* Theme 2 */
  --color-main-bg2: hsl(0, 0%, 90%);
  --color-keypad-bg2: hsl(0, 5%, 81%);
  --color-screen-bg2: hsl(0, 0%, 93%);

  --color-key-del-bg2: hsl(185, 42%, 37%);
  --color-key-del-shadow2: hsl(185, 58%, 25%);

  --color-key-eq-bg2: hsl(25, 98%, 40%);
  --color-key-eq-shadow2: hsl(25, 99%, 27%);

  --color-key-num-bg2: hsl(0, 0%, 90%);
  --color-key-num-shadow2: hsl(35, 11%, 61%);

  --color-text-dark2: hsl(60, 10%, 19%);
  --color-text-display2: var(--color-text-dark2);
  --color-text-light2: hsl(0, 0%, 100%);
  --color-text-eq2: var(--color-text-light2);

  /* Theme 3 */
  --color-main-bg3: hsl(268, 75%, 9%);
  --color-keypad-bg3: hsl(268, 71%, 12%);
  --color-screen-bg3: hsl(268, 71%, 12%);

  --color-key-del-bg3: hsl(281, 89%, 26%);
  --color-key-del-shadow3: hsl(285, 91%, 52%);

  --color-key-eq-bg3: hsl(176, 100%, 44%);
  --color-key-eq-shadow3: hsl(177, 92%, 70%);

  --color-key-num-bg3: hsl(268, 47%, 21%);
  --color-key-num-shadow3: hsl(290, 70%, 36%);

  /* TEXT */
  --color-text-light3: hsl(0, 0%, 100%);
  --color-text-display3: var(--color-text-eq3-2);
  --color-text-dark3: var(--color-text-eq3-2);
  --color-text-dark3-2: hsl(198, 20%, 13%);
  --color-text-eq3-2: hsl(52, 100%, 62%);
  --color-text-eq3: hsl(198, 20%, 13%);
}

@theme {
  --color-main-bg: var(--color-main-bg);
  --color-keypad-bg: var(--color-keypad-bg);
  --color-screen-bg: var(--color-screen-bg);

  --color-key-del-bg: var(--color-key-del-bg);
  --color-key-del-shadow: var(--color-key-del-shadow);

  --color-key-eq-bg: var(--color-key-eq-bg);
  --color-key-eq-shadow: var(--color-key-eq-shadow);

  --color-key-num-bg: var(--color-key-num-bg);
  --color-key-num-shadow: var(--color-key-num-shadow);

  --color-text-dark: var(--color-text-dark);
  --color-text-light: var(--color-text-light);
  --color-text-eq: var(--color-text-eq);
  --color-text-display: var(--color-text-display);
}

@custom-variant theme2 (&:is(.theme2 *));
.theme2 {
  --color-main-bg: var(--color-main-bg2);
  --color-keypad-bg: var(--color-keypad-bg2);
  --color-screen-bg: var(--color-screen-bg2);

  --color-key-del-bg: var(--color-key-del-bg2);
  --color-key-del-shadow: var(--color-key-del-shadow2);

  --color-key-eq-bg: var(--color-key-eq-bg2);
  --color-key-eq-shadow: var(--color-key-eq-shadow2);

  --color-key-num-bg: var(--color-key-num-bg2);
  --color-key-num-shadow: var(--color-key-num-shadow2);

  --color-text-dark: var(--color-text-dark2);
  --color-text-light: var(--color-text-light2);
  --color-text-eq: var(--color-text-eq2);
  --color-text-display: var(--color-text-display2);
}

@custom-variant theme3 (&:is(.theme3 *));
.theme3 {
  --color-main-bg: var(--color-main-bg3);
  --color-keypad-bg: var(--color-keypad-bg3);
  --color-screen-bg: var(--color-screen-bg3);

  --color-key-del-bg: var(--color-key-del-bg3);
  --color-key-del-shadow: var(--color-key-del-shadow3);

  --color-key-eq-bg: var(--color-key-eq-bg3);
  --color-key-eq-shadow: var(--color-key-eq-shadow3);

  --color-key-num-bg: var(--color-key-num-bg3);
  --color-key-num-shadow: var(--color-key-num-shadow3);

  --color-text-dark: var(--color-text-dark3);
  --color-text-light: var(--color-text-light3);
  --color-text-eq: var(--color-text-eq3);
  --color-text-display: var(--color-text-display3);
}

body {
  font-family: 'League Spartan', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
